@mixin list($wrap) {
  @if $wrap {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  } @else {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
  }
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button {
  background: $color-dark;
  color: $color-white;
  border: $border;
  padding: 1em 2em;
  font-family: inherit;
  border-radius: 0.4em;
  font-size: 1.2em;
  cursor: pointer;
}
